<!doctype html>
<html lang="en">
<head>
    <!--Partial Using HBS    -->
    {{> headInfo }}
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-inverse" id="mNavbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="home"><a >Home</a></li>
                        <li id="github"><a href="https://github.com/davetetreault221">Github</a></li>
                        <li id="contact"><a href="#section3">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Page Content  -->
    <!-- ************************************************************************   -->

    <div id="content" class="p-4 p-md-5 pt-5">

        <div class="container align-content-center">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>

        <div class="container align-content-center">
            <div class="row">
                <div class="col">
                    <h1 class="center-text landingPageFont first-title">&bull;  Who?  </h1>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col extra-bottom main-text centerDave">

                    I'm <mark class="green">Dave</mark>, a young ambitious junior developer looking to expand my <mark class="green">development</mark> and <mark class="green">programming</mark> skills!

                </div>
            </div>
        </div>

        <div class="container align-content-center">

            <div class="row">
                <div class="col">
                    <h1 class="center-text landingPageFont">What I've Practiced  &bull;</h1>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-6">
                    <div class="box effect2">
                        <h3>Languages</h3>
                        <br>

                            <div class="row">
                                <div class="progress-bar-container">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3">
                                        Java
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inside-bar" id="progressbar" style="border: 0px; width: 80%;"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        80%
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>

                            <br>
                            <div class="row">

                                <div class="progress-bar-container">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3">
                                        C++
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inside-bar" id="progressbar2" style="border: 0px; width: 70%;"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        70%
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <br>

                            <div class="row">

                                <div class="progress-bar-container">

                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3">
                                        JavaScript
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inside-bar" id="progressbar3" style="border: 0px; width: 40%;"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        40%
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                             </div>
                             <br>

                            <div class="row">

                                <div class="progress-bar-container">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3">
                                        Swift
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inside-bar" id="progressbar4" style="border: 0px; width: 60%;"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        60%
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                        <br>
                            <div class="row">

                                <div class="progress-bar-container">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3">
                                        Python
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="inside-bar" id="progressbar5" style="border: 0px; width: 20%;"></div>
                                    </div>
                                    <div class="col-sm-4 python-word">
                                        In Progress
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                        <br>
                    </div>

                    <div class="box effect2">

                        <h3>Lastest Project</h3>

                        <p style="text-align: center">My latest project can be found by clicking on the icon below, here's what it's composed of:</p>

                        <ul>
                            <li class="box-list">Node.JS Framework with Express</li>
                            <li class="box-list">MongoDB Database</li>
                            <li class="box-list">Mongoose.JS</li>
                            <li class="box-list">JQuery</li>
                            <li class="box-list">JWT (JSON Web Tokens Library) </li>
                            <li class="box-list"><a href="#appDes" rel="modal:open">Click here for a small description!</a></li>
                        </ul>

                        <div style="text-align: center;">
                            <a href="https://task-manager-tetreault.herokuapp.com"><img class="todoApp"src="/img/todoLogo.png"></a>
                        </div>
                        <br>
                    </div>


                </div>

                <div class="col-lg-6">
                    <div class="box effect2">
                        <h3>More Importantly</h3>
                        <br>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-11">
                                <ul>
                                    <li class="box-list">Design Patterns</li>
                                    <li class="box-list">Modularity in Development</li>
                                    <li class="box-list">Low Coupling</li>
                                    <li class="box-list">High Cohesion</li>
                                    <li class="box-list">Understanding Framework Functionality</li>
                                    <li class="box-list">Debugging</li>
                                    <li class="box-list">Version Control (Github)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="box effect2 bottom-right-box">
                        <h3>Check out my Github!</h3>
                        <ul>
                            <a href="https://github.com/davetetreault221" class="link">
                                <li>For small projects that I've put together <img src="/img/github.png" style="width: 35px;"></li>
                            </a>
                        </ul>
                        <br>
                    </div>

                </div>
            </div>
        </div>

        <br>
        <div class="container align-content-center">
            <div class="row">
                <div class="col">
                    <h1 class="center-text landingPageFont">&bull;  Contact  </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-2">
                      <div class="box effect2" style="width: 100px; height: 100px; padding-bottom: 5px">
                          <div class="centerDave" style="margin-top: 25px;">
                              <a href="https://www.linkedin.com/in/dave-tetreault-abc000/"><img class="linkin"src="/img/linkin.png"></a>
                          </div>
                      </div>
                  </div>

                <div class="col-md-2">
                    <div class="box effect2" style="width: 100px; height: 100px; padding-bottom: 5px">
                        <div class="centerDave" style="margin-top: 25px;">
                            <a href="#ex1" rel="modal:open">
                                <img class="linkin"src="/img/mail.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
        </div>
    </div>

<!--    Footer      -->
<!--********************************************************-->

    <div id="ex1" class="modal">
        <p class="modal-para box-list" style="font-weight: bold;">Make sure to send me an email!</p>
        <p class="modal-para box-list">davetetreault221@gmail.com</p>
        <a class="close-button" href="#" rel="modal:close">Close</a>
    </div>

    <div id="appDes" class="modal">
        <div style="text-align: center;">
            <a href="https://task-manager-tetreault.herokuapp.com"><img class="todoApp"src="/img/todoLogo.png"></a>
        </div>
        <br>
        <p class="modal-para box-list" style="font-weight: bold;">A simple task manager app which allows you to create and delete tasks, while saving them to
        your account!</p>
        <p class="modal-para box-list" style="font-weight: bold;">To get started simply click on the link, sign up and start adding tasks!</p>
        <a class="close-button" href="#" rel="modal:close">Close</a>
    </div>

    <div>
        <img id="mario" src="/img/mario.gif" style="width: 100px;">
    </div>

    <div>

        <div id="block-footer" class="" style="font-size: 0px;"></div>
    </div>

        <div class="footer">
            <div style="padding-top: 10px;">2020</div>
            <p>Dave Tetreault&copy;</p>
        </div>

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

</body>
</html>