/*Daves Edits*/
/****************************************/
body {
  background: deepskyblue;
  font-family: "Poppins", Arial, sans-serif;

}

.header-container{
  background-color: black;
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9999;

}

#content{
  padding-top: 50px;
}

header img {
  width: 30px;
  margin-right: 10px;
}

.bold{
  color:deepskyblue;
  font-weight: bold;
}

header{
  min-height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding:10px 5px;
}

.nav-buttons {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
}

.bottom-contact{
  margin-top: 25px;
  text-align: center;
}

.intro-text {
  text-align: center;
  font-size: 17px;
}

.box h3{
  text-align:center;
  position:relative;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 7px;
}
.box {
  width:80%;
  height:auto;
  background:#FFF;
  margin:40px auto;
  border-radius: 10px;
  padding-top: 1px;
}
.effect2
{
  position: relative;
}

.todoApp{
  width: 60px;
  text-align: center;
  position: relative;
  background: dodgerblue;
  border: double;
}

.webApp{
  width: 60px;
  text-align: center;
  position: relative;
}

.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.landingPageFont {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.extra-bottom {
  margin-bottom: 40px;
}

.box-list {
  padding-bottom: 5px;
}

mark.green {
  color: white;
  background: none;
  font-weight: bold;
}

.linkin {
  width: 50px;
}

#progressbar .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}

#progressbar2 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}
#progressbar3 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}
#progressbar4 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}
#progressbar5 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}

.footer {
  margin-bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.footer p {
  font-family: "Poppins", Arial, sans-serif;
  margin-bottom: 0px;
}

#mario{
  position: relative;
  display: block;
  left: -80px;
}

.bottom-right-box{
  height: auto;
}

.link{
  color: black;
}

.close-button{
  text-align: center;
  margin: auto;
  display: block;
}

.modal-para {
  text-align: center;
}

.modal a.close-modal{
  top: 3.5px;
  right: 3.5px;
}

.mob-wrapper{
  display: none;
}

.box-description{
  text-align: center;
  margin: 10px 10px;
}

.inside-bar {
  text-align: center;
}


/* Tablet View */
/********************************************************************/
@media (max-width: 768px)
{
  .mob-nav{
    display: flex;
    position: absolute;
    right: 0;
    width: 100%;
  }

   .mob-nav-buttons{
    background-color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin: 15px auto;
   }

  .portfolio
  {
    display: none;
  }
  .box-description
  {
    max-width: 500px;
    margin: 0 10px;
    padding-bottom: 15px;
  }

  .landingPageFont
  {
    font-size: 30px;
  }

  .intro-text
  {
    max-width: 600px;
    margin: 0 auto;
  }

  .mob-wrapper{
    display: block;
  }

  header nav {
    display: none;
  }

  .burger-menu
  {
    width: 50px;
  }

  .progress-bar-container {
    text-align: center;
  }

  .python-word{
    text-align: center;

  }

  .inside-bar {
    text-align: left;
    margin: auto;
  }
}
/********************************************************************/



/* Mobile View */
/********************************************************************/
@media (max-width: 500px)
{
  .mob-nav-buttons{
    background-color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin: 15px auto;
  }

  .box-description
  {
    max-width: 350px;
    margin: 0 10px;
  }

  .intro-text
  {
    max-width: 330px;
    font-size: 16px;
  }

  .landingPageFont
  {
    font-size: 25px;
  }

  .inside-bar {
    margin: auto;
  }

}
/********************************************************************/

/****************************************/
