/*Daves Edits*/
/****************************************/

@media (min-width: 768px) {
  .navbar .navbar-nav {
    font-family: "Poppins", Arial, sans-serif;
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

body {
  background: deepskyblue;
}

.center-text {

  text-align: center;
}
.main-text {
  text-align: left;
  font-size: 17px;
}

.box h3{
  text-align:center;
  position:relative;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;

}
.box {
  width:80%;
  height:auto;
  background:#FFF;
  margin:40px auto;
  border-radius: 10px;
  padding-top: 1px;
}
.effect2
{
  position: relative;
}

.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.landingPageFont {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
}

.first-title {
  padding-top: 60px;
}

.centerDave {
  text-align: center;
  font-size: 17px;
}

.greenDot {
  width: 10px;
  left: 50%;
  position: absolute;
}

.extra-bottom {

  margin-bottom: 40px;

}

.box-list {
  padding-bottom: 5px;
  font-family: "Poppins", Arial, sans-serif;
}

mark.green {
  color: white;
  background: none;
  font-weight: bold;
}

.linkin {
  width: 50px;
}

#progressbar .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}

#progressbar2 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}
#progressbar3 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}
#progressbar4 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}
#progressbar5 .ui-progressbar-value {
  background-color: rgb(35, 244, 202);
}

.footer {
  margin-bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.footer p {
  font-family: "Poppins", Arial, sans-serif;
  margin-bottom: 0px;
}

.navbar{
  top: 10px;
}

#mario{
  position: relative;
}

.bottom-right-box{

height: 100px;
}

.link{
  color: black;
}
/****************************************/
